python-NEM-data/.vscode/settings.json
python-WeatherZone/.env
**/*.pyc
python-WeatherZone/.vscode/settings.json
.DS_Store
BOM_Observations/.vscode/settings.json
.vscode/settings.json
glaze_dashboard/.vscode/settings.json
